---
---
<div class="container center">
    <h1>About the project</h1>
    <p>Header para el sistema de alerta</p>
</div>


<style>
.container{ height: 20vh; width: 100%; background-color: aliceblue;}
.center{text-align: center;}
</style>